<h1>Goals#show</h1>
<% if @goal %>
    <h2><%= @goal.name %></h2>
    <p><%= @goal.description %></p>
    <% if !@goal.tasks.empty? %>
      <ul>
      <% @goal.tasks.each do | t | %>
        <li><%= t.name %></li>
      <% end %>
      </ul>
    <% else %>
      <h3>Whoops! This Goal does not have any tasks.</h3>
    <% end %>
    <a href="<%= new_goal_task_path( @goal ) %>">
      <button class="btn">Create New Task</button>
    </a>
<% else %>
    <h2>Whoops! Looks like this goal doesn't exist.</h2>
<% end %>
